/* //////////////////// PHOTO //////////////// */
.photo-container {
    background-color: ghostwhite;
    padding-bottom: 6rem;
}
.container-postcards,
.container-artists {
    padding-bottom: 6em;
}
.photo-container h1.content-header {
    border-bottom: 1px solid #1e1a1d;
    color: #1e1a1d;
    margin-top: 0;
    padding-top: 1.6em;
    padding-bottom: 1em;
    margin-bottom: 0em;
}

/* //////////////////// POSTCARDS //////////////// */
.container-postcards h1.content-header {
    border-bottom: 1px solid ghostwhite;
    color: ghostwhite;
    margin-top: 1.6em;
    margin-bottom: 1em;
}
img.photo,
img.postcard {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
img.photo:hover,
img.postcard:hover {
    max-width: 120%;
    max-height: 104%;
    transition: all 0.5s ease-out;
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1.6em;
}

li {
    height: 38vh;
    flex-grow: 1;
    margin: 8px;
    list-style: none;
}
/* li:first-child {
    flex-grow: 2;
} */
li:last-child {
    flex-grow: 10;
}

@media (max-aspect-ratio: 2/1) and (max-width: 480px) {
    ul {
        flex-direction: row;
    }

    li {
        height: auto;
        width: 100%;
    }

    img.photo,
    img.postcard {
        width: 100%;
        max-height: 60vh;
        min-width: 0;
    }
}

/* //////////////////// MODAL //////////////// */
.modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    width: 600px;
    min-height: 600px;
    background: ghostwhite;
    color: #185adb;
    z-index: 10;
    border-radius: 1px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(30, 26, 29, 0.9);
}
h1.modal-title {
    color: #185adb;
    margin-left: 1em;
}
.modal-header {
    height: 100px;
    /* background: ghostwhite; */
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-bottom: 20px;
}

.modal-body {
    font-size: 14px;
    color: #2c3e50;
    width: 400px;
    margin-left: 3em;
    margin-top: 2em;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
}
.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.closeBtn {
    cursor: pointer;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 2px;
    border: none;
    font-size: 18px;
    color: #185adb;
    background: white;
    transition: all 0.25s ease;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    top: 0;
    align-self: flex-end;
    margin-top: -7px;
    margin-right: -7px;
}

.closeBtn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    transform: translate(-4px, 4px);
}

.contactBtn {
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 11px 28px;
    border-radius: 12px;
    font-size: 0.8rem;
    border: none;
    color: #2c3e50;
    background: #edede1;
    transition: all 0.25s ease;
    margin-top: 2em;
    margin-left: 3em;
    margin-bottom: 3em;
}

.contactBtn:hover {
    box-shadow: none;
    transform: none;
    background: #185adb;
    color: #edede1;
}
.primaryBtn {
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: ghostwhite;
    background: #185adb;
    transition: all 0.25s ease;
}

.primaryBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}
img.modal-image {
    width: 500px;
    max-height: 500px;
    object-fit: contain;
}

/* //////////////////// MODAL PORTRAIT //////////////// */

/* //////////////////// FORM //////////////// */
.form-container h1.content-header {
    margin-left: 0;
}
.submitBtn {
    margin-bottom: 1em;
    margin-top: 0.2em;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 60px;
    border-radius: 12px;
    font-size: 1.2rem;
    border: none;
    color: #fff;
    background: #f819c7;
    transition: all 250ms ease;
}

.submitBtn:hover {
    box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
    transform: translateY(-5px);
    background: orange;
    color: #f819c7;
}
.button-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form {
    color: ghostwhite;
    height: 80vh;
    padding: 0;
    margin: 2em;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: auto;
}

.form-one {
    grid-column: 1;
    grid-row: 1;
}
.form-two {
    grid-column: 2;
    grid-row: 1;
    /* background-color: #185adb; */
    padding: 3em 3.2em;
}
.container-cube {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 300px;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
}
input,
textarea {
    width: 92%;
    height: 48px;
    padding: 0px 8px;
    border-color: transparent;
    background-color: rgba(240, 255, 255, 0.25);
    border-style: dotted;
    color: paleturquoise;
    text-decoration: none;
}
textarea {
    height: 100px;
}
input#artist.checkbox {
    width: 20px;
    height: 20px;
    background-color: orange;
}
input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus {
    border: 1px solid ghostwhite;
    outline: none;
    text-decoration: none;
}

label {
    color: paleturquoise;
    font-size: 20px;
    line-height: 24px;
    margin-top: 14px;
    margin-bottom: 4px;
}
.artist-form {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: baseline;
}

/* @media screen and (min-width: 1000px) {
    .form {
        margin: 2em 5em;
    }
    .form-two {
        padding: 0 4em;
    }
} */
/* .container-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */
.checkbox {
    height: 20px;
    width: 20px;
    background-color: #eee;
}
@media screen and (max-width: 800px) {
    .form {
        height: 100%;
        margin: 2em;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        row-gap: 1em;
    }

    .form-one {
        grid-column: 1;
        grid-row: 1;
        padding: 2em;
    }
    .form-two {
        grid-column: 1;
        grid-row: 2;
        /* background: rgba(24, 89, 219, 0.8); */
        padding: 1em 3em;
    }
}

/* //////////////////// ARTIST //////////////// */
.container-artists h1.content-header {
    /* border-bottom: 1px solid #f819c7; */
    color: #f819c7;
    margin-top: 1.6em;
    margin-bottom: 1em;
}
.artist-row {
    margin: 0 2em;
}
h2.artist-name {
    border-bottom: 1px solid ghostwhite;
    color: ghostwhite;
    margin-top: 0;
}
h2.artist-name:hover,
h2.artist-name:active,
h2.artist-name:focus {
    border-bottom: 1px solid #f819c7;
    color: #f819c7;
    transition: all 0.5s ease-out;
}
.artist-image {
    margin-top: 1em;
}
img.small {
    max-width: 250px;
    max-height: 200px;
    object-fit: contain;
    filter: grayscale(90%);
}
img.small:hover {
    max-width: 280px;
    max-height: 210px;
    filter: grayscale(10%);
    transition: all 0.5s ease-out;
}
